Repository tukcomCD2024/SnowBall, pull requests merged in 2024-02, with the labels that each got.

#14 Snow 145 feat#11/d id api
  AI/roop/.gitignore
  AI/roop/d_id/__init__.py
  AI/roop/d_id/did_reqeust.py
  AI/roop/flask_server/__init__.py
  AI/roop/flask_server/app.py
  AI/roop/requirements.txt
Labels: enhancement, AI

#21 spring boot 초기 세팅
  backend/memetory/.gitignore
  backend/memetory/build.gradle
  backend/memetory/gradle/wrapper/gradle-wrapper.jar
  backend/memetory/gradle/wrapper/gradle-wrapper.properties
  backend/memetory/gradlew
  backend/memetory/gradlew.bat
  backend/memetory/settings.gradle
  backend/memetory/src/main/java/com/example/memetory/MemetoryApplication.java
  backend/memetory/src/main/resources/application.yml
  backend/memetory/src/test/java/com/example/memetory/MemetoryApplicationTests.java
Labels: backend

#24 Snow 136 design#13/meme generate
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/MainActivity.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/auth/AuthActivity.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/ChooseTemplateFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/ChooseVoiceFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/GenerateMemeActivity.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/GenerateMemeFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/PreviewDetailFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/PreviewFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/SceneDetailFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/adapter/TemplateDetailVPAdater.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/adapter/TemplateRVAdater.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/generatememe/adapter/VoiceRVAdapter.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/home/HomeFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/locker/LockerFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/memes/MemesFragment.kt
  Android/app/src/main/java/com/snowball/memetory/presentation/ui/tutorial/TutorialVPAdapter.kt
  Android/app/src/main/res/color/bottom_navigation_selector.xml
  Android/app/src/main/res/drawable/enter_lines_edittext_background.xml
  Android/app/src/main/res/drawable/gamst.png
  Android/app/src/main/res/drawable/ic_add_50.xml
  Android/app/src/main/res/drawable/ic_generate_32.xml
  Android/app/src/main/res/drawable/ic_home_32.xml
  Android/app/src/main/res/drawable/ic_locker_32.xml
  Android/app/src/main/res/drawable/ic_memes_32.xml
  Android/app/src/main/res/drawable/ic_play_circle_32.xml
  Android/app/src/main/res/font/bmjua_otf.otf
  Android/app/src/main/res/font/font.xml
  Android/app/src/main/res/font/pretendard_bold.otf
  Android/app/src/main/res/layout/activity_generate_meme.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_choose_template.xml
  Android/app/src/main/res/layout/fragment_choose_voice.xml
  Android/app/src/main/res/layout/fragment_generate_meme.xml
  Android/app/src/main/res/layout/fragment_home.xml
  Android/app/src/main/res/layout/fragment_locker.xml
  Android/app/src/main/res/layout/fragment_memes.xml
  Android/app/src/main/res/layout/fragment_preview.xml
  Android/app/src/main/res/layout/fragment_preview_detail.xml
  Android/app/src/main/res/layout/fragment_scene_detail.xml
  Android/app/src/main/res/layout/item_choose_voice.xml
  Android/app/src/main/res/layout/item_template.xml
  Android/app/src/main/res/layout/item_template_detail.xml
  Android/app/src/main/res/menu/menu_main.xml
  Android/app/src/main/res/navigation/nav_generate_meme_graph.xml
  Android/app/src/main/res/navigation/nav_main_bottom_graph.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/dimen.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/style.xml
Labels: Android
