Repository tukcomCD2024/SnowBall, pull requests merged in 2024-03, with the labels that each got.

#34 AWS S3 연동
  AI/roop/.gitignore
  AI/roop/app.py
  AI/roop/s3/s3_request.py
Labels: AI

#36 Feat#33/save meme
  backend/memetory/.gitignore
  backend/memetory/Dockerfile
  backend/memetory/src/main/java/com/example/memetory/domain/member/service/MemberService.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/controller/MemeController.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/ShotStackCallBackRequest.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/entity/Meme.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/repository/MemeRepository.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/service/MemeService.java
  backend/memetory/src/main/resources/application.yml
Labels: backend

#44 Snow 146 feat#35/eleveb labs api
  AI/roop/.gitignore
  AI/roop/app.py
  AI/roop/d_id/did_reqeust.py
  AI/roop/elevenlabs/__init__.py
  AI/roop/elevenlabs/elevenlabs_request.py
Labels: enhancement, AI

#47 Snow 49 feat#45/memes generate
  backend/memetory/src/main/java/com/example/memetory/domain/meme/service/MemeService.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/controller/MemesController.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/dto/MemesServiceDto.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/dto/mapper/MemesMapper.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/dto/request/GenerateMemesRequest.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/entity/Memes.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/repository/MemesRepository.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/service/MemesService.java
Labels: enhancement, backend

#49 Snow 106 feat#48/memes like
  backend/memetory/src/main/java/com/example/memetory/domain/like/controller/LikeController.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/dto/LikeServiceDto.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/entity/Like.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/exception/NotFoundLikeException.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/repository/LikeRepository.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/service/LikeService.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/dto/mapper/MemesMapper.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/entity/Memes.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/exception/NotFoundMemesException.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/service/MemesService.java
Labels: enhancement, backend

#57 Snow 172 feat#51/swagger
  backend/memetory/build.gradle
  backend/memetory/src/main/java/com/example/memetory/domain/like/controller/LikeApi.java
  backend/memetory/src/main/java/com/example/memetory/domain/like/controller/LikeController.java
  backend/memetory/src/main/java/com/example/memetory/domain/member/controller/MemberApi.java
  backend/memetory/src/main/java/com/example/memetory/domain/member/controller/MemberController.java
  backend/memetory/src/main/java/com/example/memetory/domain/member/dto/MemberSignUpRequest.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/controller/MemeApi.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/controller/MemeController.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/GenerateMemeDto.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/GenerateMemeListRequest.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/MemeListResponse.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/MemeResponse.java
  backend/memetory/src/main/java/com/example/memetory/domain/meme/dto/ShotStackCallBackRequest.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/controller/MemesApi.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/controller/MemesController.java
  backend/memetory/src/main/java/com/example/memetory/domain/memes/dto/request/GenerateMemesRequest.java
  backend/memetory/src/main/java/com/example/memetory/global/config/SwaggerConfig.java
  backend/memetory/src/main/resources/application.yml
Labels: enhancement, backend
